body{ 
    background-color: rgb(113, 211, 170);
    animation: colors 20s infinite alternate-reverse;
}
@keyframes colors{
  0% {background-color: rgb(113, 211, 170);}
  25% {background-color: rgb(200, 253, 103);}
  50% {background-color: rgb(129, 197, 206);}
  75% {background-color: rgb(253, 159, 214);}
  100% {background-color: rgb(223, 255, 172);}
}
.roll{
    text-decoration: none;
}
h1{ 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: red;
    -webkit-text-stroke: 1.5px black;
}
.toggle{
    border: 1px;
    width: 25vw;
    margin-left: 35vw;
    display: inline-block;
    padding: 1vw 2vw;
    border-radius: 2vw;
}
.toggle:hover, .toggle.active:hover{
    cursor:pointer;
    background:black;
    color:pink;
}
.easter{
    display: none;
    text-align: center;
}
.center{ 
    animation: profile 1s 1;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    width: 300px;
    transition: width 250ms, border-radius 250ms;
}
@keyframes profile{
    0% {display:block; transform: translateX(0vw); width: 0vw;}
    100% {transform: translateX(0vw); width: 300px; border-radius: 20px;}
}
.center:hover, .center.active:hover{
    display: block;
    cursor: pointer;
    width: 600px;
    border-radius: 40px;
    border: 5px solid rgba(77, 0, 177, 0.788);
    padding: 1vw 2vw green;
}
.roll{
    margin-right: auto;
    margin-left: auto;
    width: 600px;
}
.leerdoel{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    animation: txt 6s infinite alternate;
}
@keyframes txt{
    0% {color: red;}
    25% {color: greenyellow}
    50% {color: blue}
    75% {color: violet;}
    100% {color: pink;}
}
p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    border: 1px solid rgba(77, 0, 177, 0.788);
    padding: 1vw 2vw;
    background: rgba(186, 255, 246, 0.637);
    border-radius: 20px;
    box-shadow: 0.25vw 0.75vw rgba(77, 0, 177, 0.788);
}
iframe{
    display: block;
    margin: 0 auto;
    width: 72vw;
    height: 40.5vw;
}
@media only screen and(max-device-width:800px){
    h1{
        font-size: 20px;
    }
    .center{
        width: 75vw;
        height: auto;
        font-size: auto;
    }
    iframe{
        width: 100vw;
        height: auto;
    }
}
a:hover, a:active{
    color:red; text-decoration: underline;
}