body{ 
    background-color: rgb(113, 211, 170);
    animation: colors 20s infinite alternate-reverse;
}
@keyframes colors{
  0% {background-color: rgb(113, 211, 170);}
  25% {background-color: rgb(200, 253, 103);}
  50% {background-color: rgb(129, 197, 206);}
  75% {background-color: rgb(253, 159, 214);}
  100% {background-color: rgb(223, 255, 172);}
}
h1{ 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: red;
    -webkit-text-stroke: 1.5px black;
}
.toggle{
    border: 1px;
    position: relative;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    padding: 1vw 2vw;
    border-radius: 2vw;
}
.toggle:hover, .toggle.active:hover{
    cursor:pointer;
    background:black;
    color:pink;
}
.easter{
    display: none;
    text-align: center;
}
.center{ 
    animation: profile 1s 1;
    display: block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 20px;
    width: 300px;
    transition: width 250ms, border-radius 250ms;
}
@keyframes profile{
    0% {display:block; transform: translateX(-50%); width: 0vw;}
    100% {transform: translateX(-50%); width: 300px; border-radius: 20px;}
}
.center:hover, .center.active:hover{
    display: block;
    cursor: pointer;
    width: 600px;
    border-radius: 40px;
    border: 5px solid rgba(77, 0, 177, 0.788);
    padding: 1vw 2vw green;
}
.leerdoel{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    animation: txt 6s infinite alternate;
}
@keyframes txt{
    0% {color: red;}
    25% {color: greenyellow}
    50% {color: blue}
    75% {color: violet;}
    100% {color: pink;}
}
p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    border: 1px solid rgba(77, 0, 177, 0.788);
    padding: 1vw 2vw;
    background: rgba(186, 255, 246, 0.637);
    border-radius: 20px;
    box-shadow: 0.25vw 0.75vw rgba(77, 0, 177, 0.788);
}
iframe{
    display: block;
    margin: auto;
    width: 72vw;
    height: 40.5vw;
}
.discord{
    font-weight: bold;
    text-align: right;
    width: fit-content;
    color: black;
    border: 1px solid black;
    padding: 1vw 2vw;
    background: cornflowerblue;
    border-radius: 0px 20px 20px 0px;
    left: 0rem;
    top: 22pt;
    margin-left: 0vw;
    position: fixed;
}
.discord:hover{
    cursor: pointer;
    background: black;
    color: cornflowerblue;
}
.twitch{
    font-weight: bold;
    text-align: right;
    width: fit-content;
    color: black;
    border: 1px solid black;
    padding: 1vw 2vw;
    background: purple;
    border-radius: 0px 20px 20px 0px;
    left: 0rem;
    top: 65pt;
    position: fixed;
    margin-left: 0vw;
}
.twitch:hover{
    cursor: pointer;
    background: black;
    color: purple;
}
.YouTubeSide{
    font-weight: bold;
    width: fit-content;
    border: 1px solid black;
    padding: 1vw 2vw;
    background: red;
    text-align: right;
    border-radius: 0px 20px 20px 0px;
    position: fixed;
    left: 0rem;
    top: 108pt;
    margin-left: 0vw;
}
.YouTubeSide:hover{
    cursor: pointer;
    background: black;
    color: red;
}
.Twitter{
    font-weight: bold;
    width: fit-content;
    border: 1px solid black;
    padding: 1vw 2vw;
    background: lightskyblue;
    text-align: right;
    border-radius: 0px 20px 20px 0px;
    position: fixed;
    left: 0rem;
    top: 151pt;
    margin-left: 0vw;
}
.Twitter:hover{
    cursor: pointer;
    background: black;
    color: lightskyblue;
}
.Instagram{
    font-weight: bold;
    width: fit-content;
    border: 1px solid black;
    padding: 1vw 2vw;
    background: aliceblue;
    text-align: right;
    border-radius: 0px 20px 20px 0px;
    position: fixed;
    left: 0rem;
    top: 194pt;
    margin-left: 0vw;
}
.Instagram:hover{
    cursor: pointer;
    background: black;
    color: aliceblue;
}
.ToTop{
    text-align: center;
    border: 1px solid black;
    width: fit-content;
    margin-left: 44vw;
    border-radius: 20px;
    padding: 1vw 2vw;
    color: red;
    background: black;
    position: fixed;
    right: 0rem;
    bottom: 1rem;
}
.ToTop:hover{
    cursor: pointer;
    color: black;
    background: red;
}
a:hover, a:active{
    color:red; text-decoration: underline;
}
.YouTube{
    width: fit-content;
    border: 1px solid black;
    padding: 1vw 2vw;
    background: red;
    text-align: center;
    border-radius: 20px;
    position: relative;
    left: 50%;
    margin-left: -100px;
}
.YouTube:hover{
    cursor: pointer;
    background: black;
    color: red;
}
/*@media only screen and(max-device-width:800px){
    h1{
        font-size: 20px;
    }
    .center{
        width: 75vw;
        height: auto;
        font-size: auto;
    }
    iframe{
        width: 100vw;
        height: auto;
    }
}*/